mixin header()
  header.header
    .header__top
      .container
        .row.align-items-center.justify-content-center
          .col-sm-6.col-md-4
            a(href="#").header__top__logo
              img(src="../../img/logo.svg")
          .col-sm-6.col-md-4
            address.header__top__address Львів, вул. Персенківка 19
          .col-sm-6.col-md-4
            a(href="tel:+380978283164").header__top__phone +38-(097)-828-31-64
    .header__bottom
      .container
        .row
          .col-12
            .header__bottom__content
              .title-main
                h1 Послуги Евакуатора
              .subtitle-main
                p Львів, по Україні та закордон
              .header__bottom__info
                ul
                  li місто - від 500 грн
                  li за межами міста від - 11 грн/км 
                  li Доступна послуга попереднього замовлення.
              .header__bottom__phone
                a(href="tel:+380931234567").mega-btn Зателефонувати
