mixin header()
  header.header
    .header__top
      .container
        .row.align-items-center
          .col-md-4
            a(href="#").header__top__logo
              img(src="../../img/logo.svg")
              span Evakuator-help
          .col-md-4
            address.header__top__address вул.Гетьманська 15
          .col-md-4
            a(href="tel:+380931234567").header__top__phone +38-(093)-123-45-67
    .header__bottom
      .container
        .row
          .col-12
            .header__bottom__content
              .title-main
                h1 Послуги Евакуатора
              .subtitle-main
                p Львів та Львівська область
              .header__bottom__info
                p Швидко - до 20 хв. Надійно - більше 35 000 евакуацій. Дешево - від 600 грн
              .header__bottom__phone
                a(href="tel:+380931234567").mega-btn Зателефонувати
