mixin footer()
  footer.footer
    .container
      .row.align-items-center
        .col-md-6
          p &#9400; evakuator-help
        .col-md-3
          address вул.Гетьманська 15
        .col-md-3
          a(href="tel:+380931234567") +38-(093)-123-45-67