mixin footer()
  footer.footer
    .container
      .row.align-items-center.justify-content-center
        .col-md-4
          //- p &#9400; evakuator-help
        .col-md-4
          address Львів, вул. Персенківка 19
        .col-md-4
          a(href="tel:+380978283164") +38-(097)-828-31-64