mixin offer()
  section.offer.section-dark#offer
    .section-title.light
      h2 Ми гарантуємо:
    .container
      .row.justify-content-center
        .col-md-7
          .section-text.light
            p Чесну ціну
        .col-md-7
           .section-text.light
            p Якісний сервіс
        .col-md-7
          .section-text.light
            p Оперативну роботу
        