mixin offer()
  section.offer.section-dark#offer
    .section-title.light
      h2 Ми гарантуємо:
    .container
      .row.justify-content-center.column
        .col-12
          .section-text.light
            p Чесну ціну
        .col-12
           .section-text.light
            p Якісний сервіс
        .col-12
          .section-text.light
            p Оперативну роботу
        