mixin photos()
  section.photos.section-dark
    .container
      .row
        .col-12
          .section-title.light
            h2 Фото роботи Евакуаторів
      .photos__slider
        .photos__slider__item
          img(src="../../img/bg.jpeg")
        .photos__slider__item
          img(src="../../img/bg.jpeg")
        .photos__slider__item
          img(src="../../img/bg.jpeg")
        .photos__slider__item
          img(src="../../img/bg.jpeg")
        .photos__slider__item
          img(src="../../img/bg.jpeg")
        .photos__slider__item
          img(src="../../img/bg.jpeg")
        .photos__slider__item
          img(src="../../img/bg.jpeg")
        .photos__slider__item
          img(src="../../img/bg.jpeg")