mixin price()
  section.price.section-light
    .container
      .row
        .col-12
          .section-title
            h2 Ціна Евакуатора
          .section-text
            p Ціни вказані за послуги термінового виклику евакуатора у межах міста. За межами міста вартість роботи евакуатора становить: легкові авто - 12 грн/км; джипи, буси, спецтехніка від 12 грн/км.
      .row
        .col-sm-12.col-md-6.col-lg-4
          .price-item
            h4 Легковий автомобіль
            img(src="../../img/road/car.svg", alt="transport")
            span Ціна - 600 грн.
            a(href="tel:+380931234567").mega-btn Замовити Евакуатор
        .col-sm-12.col-md-6.col-lg-4
          .price-item
            h4 Позашляховик
            img(src="../../img/road/suv.svg", alt="transport")
            span Ціна - 700 грн.
            a(href="tel:+380931234567").mega-btn Замовити Евакуатор
        .col-sm-12.col-md-6.col-lg-4
          .price-item
            h4 Бус
            img(src="../../img/road/minibus.svg", alt="transport")
            span Ціна від 700 грн.
            a(href="tel:+380931234567").mega-btn Замовити Евакуатор
        .col-sm-12.col-md-6.col-lg-4
          .price-item
            h4 Спецтехніка
            img(src="../../img/road/tractor.svg", alt="transport")
            span Ціна від 700 грн.
            a(href="tel:+380931234567").mega-btn Замовити Евакуатор
        .col-sm-12.col-md-6.col-lg-4
          .price-item
            h4 Спецобладнання
            img(src="../../img/road/concrete-mixer.svg", alt="transport")
            span Ціна - договірна
            a(href="tel:+380931234567").mega-btn Замовити Евакуатор
        .col-sm-12.col-md-6.col-lg-4
          .price-item
            h4 Допомога у дорозі 
            img(src="../../img/road/work-tools.svg", alt="transport")
            span Ціна - договірна
            a(href="tel:+380931234567").mega-btn Замовити Евакуатор