mixin suggestions()
  section.suggestions.section-light
    .container
      .row
        .col-12
          .section-title.dark
            h2 Наша пропозиція
          .section-text
            p якіска допомога професіоналів
      .row.justify-content-center
        .col-md-6.col-lg-4
          .suggestions__item
            .suggestions__item__number 01
            h4 Евакуатор Iveco
            p вантажопідйомність 2.5 т
        .col-md-6.col-lg-4
          .suggestions__item
            .suggestions__item__number 02
            h4 Доставка з закордону
            p перевезення з закордону, доставка з портів 2 та більше авто одночасно: Одеса, Гданськ, Клайпеда тощо.
        .col-md-6.col-lg-4
          .suggestions__item
            .suggestions__item__number 03
            h4 Власне СТО
            p Можливість термінового ремонту вашого авто на нашому СТО.
      .row
        .col-12.align-items-center
          a(href="tel:+380978283164").mega-btn Зателефонувати