mixin suggestions()
  section.suggestions.section-light
    .container
      .row
        .col-12
          .section-title.dark
            h2 Наші пропозиції
          .section-text
            p якіска допомога професіоналів
      .row
        .col-md-4
          .suggestions__item
            .suggestions__item__number 01
            h4 КОМАНДУ ПРОФЕСІОНАЛІВ
            p Диспетчер завжди відповість на Ваш дзвінок. А водій евакуатора обережно завантажить автомобіль чи надасть іншу потрібну допомогу.
        .col-md-4
          .suggestions__item
            .suggestions__item__number 02
            h4 НАДІЙНІ ЕВАКУАТОРИ
            p Великий автопарк спеціалізованих евакуаторів. Завжди можна підібрати автомобіль саме під Вашу ситуацію, що дозволить суттєво зекономити.
        .col-md-4
          .suggestions__item
            .suggestions__item__number 03
            h4 КОМПАНІЮ З РЕПУТАЦІЄЮ
            p Працюємо з 2008 року. Виконано більше 35000 евакуацій. Більшість наших клієнтів приходять по рекомендаціях друзів.