mixin tow-truck()
  section.tow-truck.section-dark
    .container
      .row
        .col-12
          .section-title.light
            h2 Декілька з наших Евакуаторів
      .row.justify-content-center
        .col-md-10.col-lg-6
          .tow-truck__item
            .tow-truck__item__img
              img(src="../../img/bg.jpeg")
            .tow-truck__item__text
              h4 Евакуатор Mercedes
              p Платформа: 2,3 * 6 м
              p Вантажопідйомність - 5 т
        .col-md-10.col-lg-6
          .tow-truck__item
            .tow-truck__item__img
              img(src="../../img/bg.jpeg")
            .tow-truck__item__text
              h4 Евакуатор Mercedes
              p Платформа: 2,3 * 6 м
              p Вантажопідйомність - 5 т
        .col-md-10.col-lg-6
          .tow-truck__item
            .tow-truck__item__img
              img(src="../../img/bg.jpeg")
            .tow-truck__item__text
              h4 Евакуатор Mercedes
              p Платформа: 2,3 * 6 м
              p Вантажопідйомність - 5 т
        .col-md-10.col-lg-6
          .tow-truck__item
            .tow-truck__item__img
              img(src="../../img/bg.jpeg")
            .tow-truck__item__text
              h4 Евакуатор Mercedes
              p Платформа: 2,3 * 6 м
              p Вантажопідйомність - 5 т