.footer{
  background-color:$color-black;
  padding: 25px 0px;
  .row{
    &>div{
      text-align: center;
      order: 1;
      &:first-child{
        @include mqmax($size-sm){
          order:2;
        }
      }
    }
  }
  p,a,address,span{
    font-size: 18px;
    font-family: $font-mer;
    font-weight: 700;
    color:$color-white;
    text-align: center;
    margin: 0;
    display: block;
    @include mqmax($size-sm){
      margin-bottom: 10px;
    }
  }
  a{
    color:$color-green;
  }
  p{
    font-size: 16px;
  }
}