*{
  font-family: $font-roboto;
}

p{
  font-size: 16px;
  color:$color-black;
  font-family: $font-roboto;
  line-height: 22px;
}

a{
  font-size: 16px;
  &:hover{
    text-decoration: none;
  }
}

section{
  padding: 75px 0px;
  @include mqmax($size-sm){
    padding: 30px 0px;
  }
  &.section-dark{
    background: url('../img/bg-dark.png') repeat;
  }
  &.section-light{
    background: url('../img/bg-light.png') repeat;
  }
}

address{
  margin: 0;
}

.mega-btn{
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  text-transform: uppercase;
  color:$color-white;
  background-color: $color-green;
  overflow: hidden;
  position: relative;
  text-align: center;
  z-index: 1;
  font-weight: 700;
  &:hover{
    color:$color-white;

  }
}

.section-title{
  text-align: center;
  margin-bottom: 20px;
  h2{
    font-size: 36px;
    color: $color-black;
    font-family: $font-mer;
    @include mqmax($size-sm){
      font-size: 28px;
    }
  }
  &.dark{
    h2{
      color:$color-black;
    }
  }
  &.light{
    h2{
      color:$color-white;
    }
  }
}

.section-text{
  text-align: center;
  margin-bottom: 40px;
  p{
    font-size: 16px;
    color: $color-grey-dark;
    font-family: $font-mer;
    @include mqmax($size-sm){
      font-size: 14px;
    }
  }
  &.dark{
    p{
      color:$color-black;
    }
  }
  &.light{
    p{
      color:$color-white;
    }
  }
}

