.offer{
  .section-title{
    margin-bottom: 40px;
  }
  .section-text{
    text-align: center;
  }
  p{
    display: flex;
    align-items: center;
    font-size: 18px;
    justify-content: center;
    &:before{
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      background: url(../img/check-mark.svg) center/cover no-repeat;
      margin-right: 20px;
    }
  }
}